html {
    font-size: 2vw;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 1;
    max-width: 500px;
    margin: 0 auto;
}

.container {
    max-width: 500px;
    padding: 0 5%;
    margin: 0 auto;
    /* border: 1px solid red; */
}


/* 共通 */
img {
    max-width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 5.3rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-weight: 700;
    font-size: 4rem;
}

/* header */

header {
    display: flex;
    justify-content: center;
    height: 50px;
}

header p {
    font-weight: 500;
    line-height: 50px;
    font-size: 21px;
}

/* .top-photo */
.top {
    position: relative;
    overflow: hidden;
}

.top-photo {
    width: 100%;
    object-fit: contain;
    /* object-fit: cover; */
    z-index: -10;
}


.top-photo-text1 {
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translate(-5%, -10%);
    z-index: 10;
    /* position: relative; */
}

.top-photo-text1 p {
    color: #fff;
    font-size: 2rem;
}

.top-photo-text1 .my-voice {
    font-size: 3rem;
    font-weight: 800;
}



.top-photo-text1::before {
    position: absolute;
    top: -40%;
    right: -5%;
    transform: translate(0%, 0%);
    content: "";
    background: #E52658;
    opacity: 0.6;
    width: 27rem;
    height: 20rem;
    clip-path: polygon(100% 0, 100% 69%, 85% 100%, 12% 75%, 0 18%);
    z-index: -10;
}

.top-photo-text1 p {
    padding-bottom: 5px;
}

.top-photo-text2 {
    position: absolute;
    top: 68%;
    left: -8%;
    transform: translate(8%, -68%);
    width: 115%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 60px;
    background-color: #1b1b1b8f;
    color: #ffffff;
    text-align: right;
    transform: rotate(-10deg);
    padding-left: 6.5rem;
}

.top-photo-text2 h1:first-child {
    margin-bottom: 1.5rem;
}

.top-photo-text2 h1 .dynamic {
    color: #FFC123;
    font-weight: 700;
    font-size: 6rem;
}

.top-photo-text2 h1 {
    /* color: #FFC123; */
    font-size: 5em;
    text-align: center;
}


/* .top-photo-text2 {

    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 2.7rem;
    width: 40rem;

} */

/* .top-photo-text2 p {
    background-color: white;
    display: inline-block;
} */


/* .top-photo .top-photo-text2 {
    width: 19.7rem;
} */

/* .top-photo .my-voice {
    font-size: 1.8rem;
} */

/* map */
.map {
    position: relative;
    height: 60vh;
    /* border: 2px solid; */

}

.map-wrapper {
    display: inline-block;

}

.map img {
    position: absolute;
    top: 14%;
    right: 0;
    z-index: -10;
}

.map-title {
    position: absolute;
    top: 20%;
    max-width: 36rem;

}


.map h2 {
    display: inline-block;
    background-color: #FFC123;
    margin-bottom: 0.3rem;
}

.map-text {
    position: absolute;
    top: 40%;
    font-size: 1.5rem;
}

.map p {
    margin-top: 2rem;
}

.map span {
    color: #E52658;
}

/* feature */
.feature {
    margin-top: 30px;
    margin-bottom: 60px;
}

.feature h2 {
    font-size: 3.5rem;
}

.feature .main-title {
    max-width: 335px;
    text-align: left;
}

.feature .main-title h3 {
    border-bottom: 1px solid;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 0.2rem;
    margin-bottom: 3px;
    /* border: 1px solid red; */
}

.feature .part-number {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3px;
}

.feature .main-title-text {
    font-size: 1.5rem;
}

.sound-quality,
.volume-control,
.color-variations {
    position: relative;
}

.sq-child,
.vc-child,
.cv-child {
    display: inline-block;
}


/* sound-quality */


.sound-quality img {
    position: absolute;
    top: 0;
    right: 0;
    width: 13rem;
}



/* mic-feature */
.mic-feature h2 {
    margin-top: 10rem;
    background-color: #FFC123;
    display: inline-block;
    margin-bottom: 30px;
}

.mic-feature p {
    font-size: 1.65rem;
    margin-bottom: 20px;
}

.mic-feature span {
    color: #E52658;
}

/* volume-control */
.volume-control {
    text-align: right;
    position: relative;
}

.volume-control img {

    position: absolute;
    top: 60%;
    left: 0%;
    width: 13rem;

}

/* color-variations */
.color-variations {
    position: relative;
}

.color-variations img {
    position: absolute;
    top: 60%;
    right: 0;
}


/* color-lineup */
.color-lineup {
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}

.color-lineup-title {
    position: relative;
    margin-bottom: 50px;
}

.color-lineup-title::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFC123;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: -10;
}

.color-lineup-title::after {
    position: absolute;
    content: "";
    bottom: 45%;
    transform: translateY(80px);
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 24px 0 24px;
    border-color: #FFC123 transparent transparent transparent;
}

/* slick */

.slick-area li {
    position: relative;
    display: inline-block;
    padding: 3rem;
}

.slick-area img {
    /* border: 1px solid rgb(0, 60, 255); */
    width: auto;
    object-fit: contain;
}

.slick-area p {
    font-size: 1rem;
    width: 6.5rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;

    color: #FEFEFE;
    padding: 0.8rem 0.5rem;
}

.slick-area .blue {
    background: #187BB3;
}

.slick-area .gold {
    background: #E8AF1F;
}

.slick-area .red {
    background: #D22C2D;
}

.slick-area .black {
    background: #121212;

}

.slick-area .silver {
    background: #8E8985;

}

.slick-area .cherry-tree {
    background: #DC8670;

}

.slick-area .pink {
    background: #D973A6;

}

.slick-area .white {
    background: #D3CDCF;

}

.slick-area .mint {
    background: #72B1B3;

}

.slick-area .navy {
    background: #242D4D;

}

.slick-prev,
.slick-next {
    background-color: rgb(171, 171, 171);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* opacity: 0.5; */
}

.slick-prev,
.slick-next {
    background-color: grey;
    opacity: 0.5;
    cursor: pointer;
    z-index: 10;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    opacity: 1;

}

/* .prev_icon, .next_icon { 
    font-size: 100px; 
} */


/* campaign */

.heading {
    font-size: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading::before,
.heading::after {
    background-color: #000;
    content: "";
    height: 2px;
    width: 40px;
}

.heading::before {
    margin-right: 3px;
    /* 文字との余白 */
    transform: rotate(45deg);
    /* 傾ける */
}

.heading::after {
    margin-left: 3px;
    /* 文字との余白 */
    transform: rotate(-45deg);
    /* 傾ける */
}

.campaign-box {
    text-align: center;
    margin-top: 30px;
}


.no1-photo {
    text-align: right;
}

.no1-wrapper img {
    width: 20rem;
}

.campaign-box p {
    font-weight: 600;
    font-size: 4.5rem;
    background-color: #FFC123;
    display: inline-block;
    margin-bottom: 10px;
}

.number {
    border: 1px solid;
    border-width: 2px;
    padding: 50px 30px;
    margin-bottom: 60px;
    position: relative;
}


.section-title {
    font-size: 5rem;
    display: block;
    position: absolute;
    top: -7%;
    left: 0.05%;
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.discount {
    font-size: 3rem;
}

.discount .tax {
    font-size: 1.5rem;
}


.discount2 {
    margin-top: 20px;
    /* font-size: 3rem; */
    color: #E52658;
    font-size: 4rem;
    line-height: 45px;
}


.emphasis {
    /* font-size: 3rem; */
    color: #E52658;
    font-size: 4rem;
}


.attention {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.attention span {
    font-size: 2.2rem;
    color: #E52658;
}

/* footer */
footer {
    padding-top: 150px;
}



.buy-btn {
    bottom:12rem;
    left: 50%;
    font-size: 2.95rem;
    position: fixed;
    transform: translateX(-50%);
    background-color: #FFC123;
    width: 80%;
    line-height: 7rem;
    border-radius: 15px;
    text-align: center;
}


.contact-btn {
    bottom:3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffc123a1;
    width: 80%;
    border-radius: 15px;
    position: fixed;
    font-size: 2.95rem;
    line-height: 7rem;
    text-align: center;
    
}

.buy-btn a , .contact-btn a {
    color: #1B1B1B;
    width: 100%;
}





